fastapi==0.135.1
uvicorn[standard]==0.30.6
starlette==0.52.1
anyio==4.6.2.post1
httpx==0.28.1
websockets==16.0
aiofiles==25.1.0
SQLAlchemy==2.0.48
aiosqlite==0.22.1
greenlet==3.3.2
sounddevice==0.5.5
numpy==2.4.3
lameenc==1.8.2
dashscope==1.25.13
openai==2.28.0
pydantic==2.12.5
pydantic-settings==2.13.1
pystray==0.19.5
keyboard==0.13.5
pillow==12.1.1
win10toast-click==0.1.2
pypiwin32==223
pywin32==311
loguru==0.7.3
cryptography==46.0.5
Jinja2==3.1.6
MarkupSafe==3.0.3
